main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.painel {
    background-color: #323232;
    border: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 3rem;
    text-align: center;
    width: 50%;
}

.painel p:nth-child(4) {
    margin: 2rem 0;
}

.painel div {
    display: flex;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.514));
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.painel div img {
    width: 65px;  
}

.formulario {
    align-items: center;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.514));
    opacity: 70%;
}

.formulario input {
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    width: 50%;
}

.formulario textarea {
    border-radius: 5px;
    margin: 10px;
    width: 60%;
    padding: 5px;
}

@media only screen and (max-width: 1023px) {
    .painel {
        width: 85%;
        padding: 10px;
        margin-bottom: 2rem;
    }

    .formulario input {
        width: 80%;
        height: 25px;
    }

    .formulario textarea {
        width: 80%;
    }
}