main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.painel {
    background-color: #323232;
    border: solid;
    border-radius: 5px;
    text-align: center;
    width: 60%;
}

.painel p:nth-child(4) {
    margin: 2rem 0;
}

.painel div {
    display: flex;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.514));
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.painel div img {
    width: 65px;  
}

.formulario {
    align-items: center;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.514));
    opacity: 70%;
}

.formulario input {
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    width: 30%;
}

.formulario textarea {
    border-radius: 5px;
    margin: 10px;
    width: 40%;
}