.painel {
    background-color: #323232;
    border: solid;
    border-radius: 5px;
    margin-bottom: 3rem;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.painel h2, .painel li {
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.514));
}

.skills-texto {
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
}

.skills-texto li a {
    color: #f0c690;
    text-decoration: none;
}

.skills-texto li a:hover {
    color: #af8856;
}

.soft-hard {
    display: flex;
    justify-content: space-evenly;
}

.soft-hard div {
    width: 40%;
}

.soft-hard ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 2rem;
}

.soft-hard img {
    width: 90px;
}

@media only screen and (max-width: 1023px) {
    main {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .painel {
        width: 90%;
        padding: 10px;
        margin-bottom: 2rem;
    }

    .soft-hard {
        flex-direction: column;
        align-items: center;
    }

    .soft-hard div {
        width: 90%;
    }

    .skills-texto li {
        padding-bottom: 1rem;
    }

    .soft-hard img {
        width: 60px;
    }
}