.painel {
    background-color: #323232;
    border: solid;
    border-radius: 10px;
    margin-bottom: 3rem;
    width: 100%;
}

.sobre-chamada {
    align-items: center;
    display: flex;
}

.painel img {
    border-top-left-radius: 5px;
    border: 1px solid;
    border-top-right-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.37);
    height: 350px;
}

.painel p {
    font-size: 1.5rem;
    margin: 25px;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.514));
}

.sobre-dinfos {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 350px) {
    .painel img {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    main {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .painel {
        width: 90%;
        padding: 10px;
        margin-bottom: 2rem;
    }

    .sobre-chamada {
        flex-direction: column;
    }

    .sobre-chamada p {
        font-size: 1.2rem;
    }

    .painel img {
        border: 1px solid;
        border-top-right-radius: 5px;
    }

    .sobre-dinfos {
        flex-direction: column;
    }

    .sobre-dinfos p {
        font-size: 1.2rem;
    }
}